version: '3.8'

services:
  backend:
    build: .
    container_name: user-backend
    ports:
      - "8000:8000"

    env_file:
      - .env
    
    depends_on:
      - mongodb
    
    restart: unless-stopped

  
  mongodb:
    image: mongo:7

    container_name: user-database
    ports:
      - "27017:27017"

    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
